#root {
  width: 500px;
  margin: 0 auto;
}

#to-do-list {
  border: 1px solid #888;
}

#list-header {
  text-align: center;
}

.task-group {
  width: 300px;
  min-height: 75px;
}

.group-header {
  cursor: pointer;
  float: left;
  border-bottom: 1px solid #888;
}

.down-arrow {
  width: 20px;
  height: 20px;
  clear: both;
  float: left;
  margin-top: 25px;
  margin-right: 25px;
  transform: rotate(270deg);
}

.tasks-ul {
  clear: both;
}

.locked-image {
  width: 15px;
  height: 15px;
}

.task {
  list-style-type: none;
  border-bottom: 1px solid #888;
  padding: 20px;
}

.list-checkbox,
.locked-image {
  margin-right: 30px;
}
